<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean name="configuration" class="org.builder.eclipsebuilder.beans.Configuration">
		<property name="buildType" value="STABLE" />
		<property name="cacheDir" value="/cached" />
		<property name="eclipseDir" value="/eclipse" />
	</bean>

	<bean name="webBrowser" class="org.builder.eclipsebuilder.beans.WebBrowser"/>

	<bean name="downloadManager" scope="prototype" class="org.builder.eclipsebuilder.beans.DownloadManager">
		<property name="webBrowser" ref="webBrowser"/>
	</bean>

	<bean name="eclipseSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
	</bean>

	<bean name="eclipseBuilder" class="org.builder.eclipsebuilder.beans.EclipseBuilder">
		<property name="configuration" ref="configuration"/>
		<property name="parts">
			<list>
				<ref bean="eclipseSDKPartBuilder"/>
			</list>
		</property>
	</bean>
</beans>