<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <aop:config>
        <aop:advisor pointcut="execution(* *..DispatchController.*(..))" advice-ref="txAdvice"/>
    </aop:config>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>

    <bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean"/>

    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
      <property name="userTransaction"><ref local="jotm" /></property>
    </bean>

    <bean id="dataSource1" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource">
      <property name="dataSource">
        <bean class="org.enhydra.jdbc.standard.StandardXADataSource">
          <property name="transactionManager" ref="jotm" />
          <property name="driverName" value="${jdbc.driverClassName}" />
          <property name="url" value="${jdbc.url}" />
        </bean>
      </property>
      <property name="user" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
    </bean>
    <bean id="dataSource2" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource">
      <property name="dataSource">
        <bean class="org.enhydra.jdbc.standard.StandardXADataSource">
          <property name="transactionManager" ref="jotm" />
          <property name="driverName" value="${jdbc.driverClassName}" />
          <property name="url" value="${jdbc.url1}" />
        </bean>
      </property>
      <property name="user" value="${jdbc.username1}" />
      <property name="password" value="${jdbc.password1}" />
    </bean>

    <bean id="sessionFactory1" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
            p:dataSource-ref="dataSource1" p:mappingResources="adminuser.hbm.xml">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.hibernate.dialect}</prop>
            </props>
        </property>
    </bean>

    <bean id="sessionFactory2" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
            p:dataSource-ref="dataSource2" p:mappingResources="adminuser.hbm.xml">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.hibernate.dialect}</prop>
            </props>
        </property>
    </bean>

    <bean id="persistRequired"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref local="transactionManager"/></property>
        <property name="target"><ref local="adminUserDao"/></property>
        <property name="transactionAttributes">
            <props>
                <prop key="persist">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="adminUserDao" class="com.fcg.style3.dao.impl.AdminUserDAOImpl"
     p:sessionFactory1-ref="sessionFactory1" p:sessionFactory2-ref="sessionFactory2"/>

</beans>