<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean name="configuration" class="org.builder.eclipsebuilder.beans.Configuration">
		<property name="buildType" value="STABLE" />
		<property name="cacheDir" value="/cached" />
		<property name="eclipseDir" value="/integration" />
	</bean>
	<bean name="webBrowser" class="org.builder.eclipsebuilder.beans.WebBrowser"/>
	<bean name="downloadManager" scope="prototype" class="org.builder.eclipsebuilder.beans.DownloadManager">
		<property name="webBrowser" ref="webBrowser"/>
	</bean>

	<bean name="eclipseSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>
	<bean name="eclipseEMFSDOXSDSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseEMFSDOXSDSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>
	<bean name="eclipseGEFSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseGEFSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>
	<bean name="eclipseDTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseDTPSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>
	<bean name="eclipseBIRTSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseBIRTSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>
	<bean name="eclipseTPTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseTPTPSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="parts">
			<list>
				<ref bean="eclipseBIRTSDKPartBuilder"/>
			</list>
		</property>
	</bean>
	<bean name="eclipseAgentControlerPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseAgentControlerPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
	</bean>

	<bean name="eclipseWTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseWTPSDKPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="parts">
			<list>
				<ref bean="eclipseEMFSDOXSDSDKPartBuilder"/>
				<ref bean="eclipseGEFSDKPartBuilder"/>
				<ref bean="eclipseDTPSDKPartBuilder"/>
			</list>
		</property>
	</bean>

	<bean name="eclipseBuilder" class="org.builder.eclipsebuilder.beans.EclipseBuilder">
		<property name="configuration" ref="configuration"/>
		<property name="parts">
			<list>
				<ref bean="eclipseSDKPartBuilder"/>
				<ref bean="eclipseWTPSDKPartBuilder"/>
				<ref bean="eclipseTPTPSDKPartBuilder"/>
				<ref bean="eclipseAgentControlerPartBuilder"/>
			</list>
		</property>
	</bean>
</beans>